<!--<nav class="p-3">
  <ul class="nav ,av-pills">
    <li *ngFor="let action of actions">
      <button
        (click)="setCurrentAction(action)"
              routerLink="{{action.route}}"
              [class]="action==currentAction
              ?
              'btn btn-success ms-1'
              :
              'btn btn-outline-success ms-1'">
        {{action.title}}
        <i class="bi bi-{{action.icon}}"></i>
      </button>
    </li>
  </ul>
</nav>-->
<router-outlet>

</router-outlet>
