<div class="p-3">
  <div class="card">
    <div class="card-body">
      <h3>Product component</h3>
      <div class="card-body">
        {{keyword}}
        <input class="p-1" type="text" [(ngModel)]="keyword">
        <button (click)="searchProducts()" class="ms-1 btn btn-outline-success">
          <i class="bi bi-search"></i>
        </button>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Price
          </th>
          <th>
            Checked
          </th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td *ngIf="appState.authState.roles.includes('ADMIN')">
              <button (click)="handleCheckProduct(product)" class="btn btn-outline-success">
              <i [class]="product.checked?'bi bi-check':'bi bi-circle'"></i>
            </button>
            </td>
            <td>
            </td>
            <td *ngIf="appState.authState.roles.includes('ADMIN')">
              <button (click)="handleDelete(product)" class="btn btn-outline-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
            <td *ngIf="appState.authState.roles.includes('ADMIN')">
              <button (click)="handleEdit(product)" class="btn btn-outline-info">
                <i class="bi bi-pencil"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let page of [].constructor(this.totalPages); let i=index">
          <button (click)="handleGotoPage(i+1)"
                  [ngClass]="currentPage==(i+1)?'btn btn-success m-1':'btn btn-outline-success m-1'">
            {{(i+1)}}
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
